/**
*
* Default styles
*
**/
.App {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin) !important;
}

/* 
*
* Default Input Attributes Style
*
*/
input {
  border: none;
  outline: none;
}
input:focus, textarea:focus, select:focus {
  border: none;
  outline: none;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* 
*
* Default Button Attributes Style
*
*/
button {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}

/**
*
* Root component styles
*
**/
#main {
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  width: clamp(25%, 10px, 50%);
  height: 100px;
  text-align: center;
}

/* 
*
* Default Loading
*
*/
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: lightgray !important;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
*
* User Search component styles
*
**/
.userSearchMain {
  height: 80%;
  padding: 10px 0;
}
.userSearchHeading {
  padding: 5px 0;
}
#userSearchInput { 
  width: clamp(50%, 100px, 100%);
  height: 30px;
  background-color: ghostwhite;
  margin: 0 5px;
  padding: 0 10px;
}
#userSearchButton {
  width: clamp(25%, 50px, 50%);
  height: 30px;
  border-radius: 5px;
  background-color: lightgray;
  margin: 0 5px;
}

/**
*
* Card component styles
*
**/
.card {
  width: clamp(50%, 100px, 100%);
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  text-align: center;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 10px auto;
  padding: 10px;
}
#card-button {
  width: clamp(50%, 100px, 100%);
  height: 30px;
  border-radius: 5px;
  background-color: black;
  margin: 5px 0;
  cursor: pointer;
  color: white;
  text-align: center;
  font-weight: 600;
}
#cardImage {
  width: 100px;
  height: 100px;
}