/**
*
* Default styles
*
**/
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin) !important;
}

input {
  border: none;
  outline: none;
}
input:focus, textarea:focus, select:focus{
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}

/**
*
* Custom Component styles
*
**/
input#input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
*
* Root component styles
*
**/
#main {
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  width: clamp(25%, 10px, 50%);
  height: 100px;
  text-align: center;
}

/**
*
* User Search component styles
*
**/
.userSearchMain {
  height: 80%;
  padding: 10px 0;
}
.userSearchHeading {
  padding: 5px 0;
}
.userSearchInput{ 
  width: clamp(50%, 100px, 100%);
  height: 30px;
  background-color: ghostwhite;
  margin: 0 5px;
}
.userSearchButton {
  width: clamp(25%, 50px, 50%);
  height: 30px;
  border-radius: 5px;
  background-color: lightgray;
  margin: 0 5px;
}